:root {
  --blue: #2271D1;
  --white: #FFF;
  --lightblue: #6BD1FF;
  --green: #00C86F;
  --red: #E53935;
  --yellow: #FFBA05;
  --darkgrey: #262626;
}


html {
  font: 400 100% 'Inter', 'sans-serif';
}
body {
  background-color: var(--darkgrey);
  color: var(--white);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
